body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #e0f7fa;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b2ebf2;
    padding: 20px;
    margin-bottom: 20px;
}

.personal-info {
    flex: 1;
}

h1 {
    color: #00838f;
    margin: 0 0 10px 0;
}

.contact-info {
    font-size: 0.9em;
}

.contact-info p {
    margin: 0;
}

.profile-pic {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.section {
    margin-bottom: 20px;
    border: 2px solid #4dd0e1;
    border-radius: 10px;
    overflow: hidden;
}

.section h2 {
    background-color: #2f5055;
    color: white;
    padding: 10px;
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.grid div {
    padding: 10px;
}

.grid div:nth-child(4n+1),
.grid div:nth-child(4n+2) {
    background-color: #e0f7fa;
}

.grid div:nth-child(4n+3),
.grid div:nth-child(4n+4) {
    background-color: #b2ebf2;
}

.grid div:nth-child(odd) {
    font-weight: bold;
    color: #00838f;
}

ul {
    padding-left: 20px;
    list-style-type: none;
    color: #00838f;
}

ul li {
    margin-bottom: 5px;
    background-color: #e0f7fa;
    padding: 5px;
    position: relative;
}

ul li:nth-child(even) {
    background-color: #b2ebf2;
}


a {
    color: #00838f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
